# Резервные копии и бинарные файлы 1С
*.dt
*.1CD
*.cf
*.cfe

# Настройки подключения к информационным базам
*.v8i

# Временные файлы и журналы
*.tmp
*.bak
*.log
~*

# Настройки редакторов и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db